.rosa-account {
}

.rosa-account_mobile {
    @media (@L) {
        display: none;
    }
}

.rosa-account_desktop {
    display: none;

    @media (@L) {
        display: block;
    }
}

.rosa-account-title {
    font: normal normal normal 40px/45px Cormorant;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.rosa-account_desktop-wrapper {
    display: flex;
}

.rosa-account-side-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 22px;
    border-right: 1px solid #000;
    min-height: 405px;
    width: 318px;
    padding-top: 10px;
}

.rosa-account-side-menu-item {
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account-side-menu-item:last-child {
    margin-top: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.rosa-account-side-menu-item_active {
    font: normal normal bold 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
}

.rosa-account-main {
    flex-grow: 1;
}

.rosa-account-main-inner {
    padding-top: 10px;
}

.rosa-account-main-inner-info {
    display: none;
}

.rosa-account-main-inner-commandes {
    display: none;
}

.rosa-account-info {
    border-bottom: 1px solid #000;
    padding-left: 70px;
    padding-bottom: 38px;
}

.rosa-account-info-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
}

.rosa-account-info-header-title {
    font: normal normal bold 16px/11px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account-info-header-link {
    position: relative;
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: underline;
}

.rosa-account-info-content {
}

.rosa-account-info-item {
    display: flex;
    margin-bottom: 13px;
}

.rosa-account-info-item-label {
    width: 175px;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account-info-item-text {
    width: 133px;
    font: normal normal normal 15px/20px Montserrat !important;
    letter-spacing: 0px;
    color: #000000 !important;

    & a {
        color: #000000 !important;
    }
}

.rosa-account-password {
    padding-top: 41px;
    padding-left: 70px;
    padding-bottom: 38px;
}

.rosa-account_mobile-wrapper {

}

.rosa-account_mobile-title {
    font: normal normal normal 35px/40px Cormorant;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;

    margin-bottom: 65px;
}

.rosa-account_mobile-title2 {
    max-width: 242px;
    font: normal normal bold 20px/25px Montserrat;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.rosa-account_mobile-title3 {
    max-width: unset;
    font: normal normal bold 20px/25px Montserrat;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.rosa-account_mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.rosa-account_mobile-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
        font: normal normal 500 14px/18px Montserrat;
        letter-spacing: 0.28px;
        color: #000000;
        text-transform: uppercase;
    }
}

.rosa-account_mobile-menu-bar {
    display: block !important;
    height: 1px;
    width: 100%;
    background-color: #000;
    margin-top: 84px;
    margin-bottom: 76px;
}

.rosa-account_mobile-menu-logout {
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}

.rosa-account_mobile-info {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 32px;
}

.rosa-account_mobile-info-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 13px;
}

.rosa-account_mobile-info-item-label {
    width: 175px;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;
    flex-shrink: 0;
    word-break: break-all;
}

.rosa-account_mobile-info-item-text {
    font: normal normal normal 15px/20px Montserrat;
    letter-spacing: 0;
    color: #000000;
}

.rosa-account_mobile-info-modifier {
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat;
    letter-spacing: 0.28px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 37px;
}

.rosa-account_mobile-info-bar {
    display: block !important;
    height: 1px;
    width: 100%;
    background-color: #000;
    margin-top: 37px;
    margin-bottom: 37px;
}

.rosa-account-commandes {
    padding-bottom: 38px;
}

.rosa-account-info-header_commandes {
    padding-left: 70px;
}

.rosa-account-commandes-legend {
    display: flex;
    padding-left: 70px;
}

.rosa-account-commandes-legend-item {
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.rosa-account-commandes-legend-commande {
    width: 162px;
}

.rosa-account-commandes-legend-date {
    width: 162px;
}

.rosa-account-commandes-legend-status {
    width: 245px;
}

.rosa-account-commandes-legend-total {
}

.rosa-account-commandes-el {
    display: flex;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #000;
}

.rosa-account-commandes-el-item {
    font: normal normal 600 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #2E2E2E;
}

.rosa-account-commandes-el-commande {
    width: 162px;
}

.rosa-account-commandes-el-date {
    width: 162px;
}

.rosa-account-commandes-el-status {
    width: 245px;
}

.rosa-account-commandes-el-item-empty {
    font: normal normal bold 16px/11px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 70px;
    margin-top: 50px;
}

.rosa-account-commandes-el-item-empty_mobile {
    font: normal normal bold 16px/20px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 50px;
}

.rosa-account_mobile-commandes-item {
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px 0 29px;
}

.rosa-account_mobile-commandes-item:first-of-type {
    border-top: none;
}

.rosa-account_mobile-commandes-item-el {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.rosa-account_mobile-commandes-item-el-label {
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account_mobile-commandes-item-el-text {
    font: normal normal 600 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #2E2E2E;
}

.rosa-account_mobile-back {
    text-decoration: none !important;
    display: flex !important;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;

    & span {
        font: normal normal normal 14px/18px Montserrat;
        letter-spacing: 0;
        color: #000;
    }

    & svg {
        transform: rotate(90deg);
    }
}

.rosa-account_mobile-main {
    display: none;
}

.rosa-account_mobile-info {
    display: none;
}

.rosa-account_mobile-commandes {
    display: none;
}

.rosa-account-adresses {
    padding-top: 0;
    padding-left: 0 !important;
    max-width: unset !important;
}

.rosa-account-adresses-header {
    padding-left: 70px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 47px;
}

.rosa-account-adresses-header-title {
    font: normal normal bold 16px/11px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account-adresses-header-button {
    position: absolute !important;
    top: -4px;
    right: 0;


    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;

    &:after {
        display: none !important;
    }
}

.rosa-account-adresses-header-form {
    margin-top: 40px;
}

.rosa-account-adresses-header-form-heading {
    font: 700 16px/11px Montserrat;
    letter-spacing: 0px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rosa-account-adresses-list {
}

.rosa-account-adresses-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0 !important;
    padding-left: 70px;
    padding-bottom: 48px;
    padding-top: 41px;
}

.rosa-account-adresses-item:first-child {
    padding-top: 0;

    border-bottom: 1px solid #000;

    & .rosa-account-deafult-adress-buttons-button1 {
        top: 0 !important;
    }

    & .rosa-account-deafult-adress-buttons-button2 {
        top: 40px !important;
    }
}

// .rosa-account-adresses-item-content {
//     display: flex;
// }

.rosa-account-deafult-adress-title {
    width: 176px;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}

.rosa-account-deafult-adress-adress {
    width: 300px;


    & p {
        font: normal normal normal 15px/20px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        text-align: left
    }
}

.rosa-account-deafult-adress-dummy {
    display: block !important;
    width: 1px;
    height: 60px;
}

.rosa-account-deafult-adress-buttons-button1 {
    position: absolute !important;
    top: 41px;
    right: 0;

    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;

    &:after {
        display: none !important;
    }
}

.rosa-account-deafult-adress-buttons-button2 {
    position: absolute !important;
    top: 81px;
    right: 0;

    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;

    &:after {
        display: none !important;
    }
}

// .rosa-account-other-adress {
//     padding-left: 70px;
//     padding-top: 40px;
// }

.rosa-account-field {
    width: 100%;
    margin-bottom: 20px;
}

.rosa-account-field label {
    display: none;
}

.rosa-account-field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 12px;

    font: normal normal 500 14px/16px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;

    &::placeholder {
        font: normal normal 500 14px/16px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        text-transform: uppercase;
    }
}

.rosa-account-field-title {
    font: 500 14px/16px Montserrat !important;
    letter-spacing: 0px;
    color: #000;
    text-transform: uppercase;
}

.rosa-account-field select {
    border: none !important;
    border-bottom: 1px solid #000 !important;
    font: normal normal 500 14px/16px Montserrat !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
    text-transform: uppercase !important;
    min-height: unset !important;
    padding: 0 !important;
    outline: 0 !important;
    height: auto !important;
    padding-bottom: 12px !important;
}

.rosa-account-field .select:after {
    display: none !important;
}

.rosa-account-field svg {
    top: 6px !important;
    right: 0 !important;
}

.rosa-account-button1 {
    min-height: unset;
    width: 100%;
    padding: 13px !important;
    font: normal normal 600 14px/18px Montserrat !important;
    letter-spacing: 0px !important;
    color: #FFFFFF !important;
    height: fit-content !important;
    min-height: unset !important;

    @media (@L) {
        max-width: 290px;
    }
}

.rosa-account-button2 {
    width: 100%;
    padding: 13px !important;
    font: normal normal 600 14px/18px Montserrat !important;
    letter-spacing: 0px !important;
    height: fit-content !important;
    min-height: unset !important;

    @media (@L) {
        max-width: 290px;
    }
}

.rosa-account-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    & input {
        margin: 0 !important;
    }
}

.rosa-account-mobile-adresses {
    padding: 0 !important;
}

.rosa-account-mobile-adresses-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 32px;
}

.rosa-account-mobile-adresses-header-back {

}

.rosa-account-mobile-adresses-header-title {
    font: normal normal bold 20px/25px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
}

.rosa-account-mobile-adresses-header-button {
    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;

    &:after {
        display: none !important;
    }
}

.rosa-account-mobile-adresses-header-form {
    margin-top: 40px;
}

.rosa-account-mobile-adresses-header-form-heading {
    font: 700 16px/11px Montserrat;
    letter-spacing: 0px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rosa-account-mobile-adresses-list {
}

.rosa-account-mobile-adresses-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0 !important;
    padding-bottom: 48px;
    padding-top: 41px;
}

.rosa-account-mobile-adresses-item:first-child {
    padding-top: 0;
    border-bottom: 1px solid #000;
}

.rosa-account-mobile-deafult-adress-title {
    width: 176px;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}

.rosa-account-mobile-deafult-adress-adress {
    width: calc(100% - 180px);

    & p {
        font: normal normal normal 15px/20px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        text-align: left
    }
}

.rosa-account-mobile-deafult-adress-dummy {
    display: block !important;
    width: 100%;
    height: 60px;
}

.rosa-account-mobile-deafult-adress-buttons-button1 {
    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;
    margin-right: 34px !important;

    &:after {
        display: none !important;
    }
}

.rosa-account-mobile-deafult-adress-buttons-button2 {
    border: 0 !important;
    outline: 0;
    margin: 0 !important;
    width: fit-content;
    font: normal normal 500 14px/18px Montserrat !important;
    letter-spacing: 0.28px !important;
    color: #000000 !important;
    text-transform: uppercase;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #000 !important;
    padding: 0 !important;
    min-width: unset !important;
    min-height: unset !important;
    background: none !important;

    &:after {
        display: none !important;
    }
}
