body {

}



.container {
    width: calc(100% - 64px);
    margin: 0 auto;
    max-width: 600px;

    @media (@L) {
        max-width: unset;
        width: 1086px;
    }

}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

h1 {
    font: normal normal normal 40px/45px Cormorant !important;
}




