<section class="rosa-collections">
    {%- for collection in collections -%}
    <div class="rosa-collections-item">
        <div class="rosa-collections-item-hover">
            <img src="{{ collection.featured_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-hover-pic">
            <a href="{{ collection.url }}" class="rosa-collections-item-link">VOIR LA COLLECTION</a>
        </div>
        <img src="{{ collection.featured_image | image_url: width: 500 }}" alt="" class="rosa-collections-item-pic">
        <div class="rosa-collections-item-title">{{ collection.title }}</div>
        <div class="rosa-collections-item-text">Or recyclé 18 carats, spinelles, grenats et tourmalines traçables</div>
    </div>
    {% endfor %}
</section>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section"
}
{% endschema %}
