<section class="rosa-header container">
    <div class="rosa-header-title">{{ section.settings.text1 }}</div>
    <div class="rosa-header-subtitle">{{ section.settings.text2 }}</div>
</section>

{% schema %}
{
  "name": "rosa header",
  "presets": [
    {
      "name": "rosa header",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "text1",
      "label": "text 1",
      "default": "text 1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "text 2",
      "default": "text 2"
    }
  ]
}

{% endschema %}
