<section class="rosa-subscribe">
    <div class="rosa-subscribe-inner">
        <svg class="rosa-subscribe-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="33" viewBox="0 0 46 33">
          <defs>
            <clipPath id="clip-path">
              <rect id="Rectangle_179" data-name="Rectangle 179" width="46" height="33" transform="translate(0.001 0.237)" fill="#fff"/>
            </clipPath>
          </defs>
          <g id="Groupe_306" data-name="Groupe 306" transform="translate(0.038 -0.565)">
            <g id="Groupe_300" data-name="Groupe 300" transform="translate(-0.038 0.328)">
              <path id="Tracé_236" data-name="Tracé 236" d="M1.26,0A1.441,1.441,0,0,0,0,1.391V31.984a1.445,1.445,0,0,0,1.391,1.391H44.5a1.445,1.445,0,0,0,1.391-1.391V1.391A1.445,1.445,0,0,0,44.5,0ZM4.889,2.781H41L22.945,19.642ZM2.781,4.629,15.188,16.21l-5.041,5.041A1.391,1.391,0,1,0,12.1,23.228L17.23,18.1l4.759,4.455a1.442,1.442,0,0,0,1.912,0L28.66,18.1c2.937,2.936,6.389,6.389,9.3,9.3a1.39,1.39,0,1,0,1.955-1.977c-2.883-2.883-6.293-6.294-9.213-9.213L43.109,4.629V30.594H2.781ZM7.475,24.314a1.4,1.4,0,0,0-.8.413l-.7.7a1.446,1.446,0,0,0-.031,1.986A1.445,1.445,0,0,0,7.931,27.4l.7-.695a1.391,1.391,0,0,0-1.151-2.39" transform="translate(0.13 -0.838)" fill="#fff"/>
            </g>
          </g>
        </svg>
        <div class="rosa-subscribe-title">UNE BOMBE D’AMOUR PAR SEMAINE !</div>
        <div class="rosa-subscribe-subtitle">Connectez vous à la marque par amour, promis #ZeroSpams, que du #bonheur</div>
        <form action="." class="rosa-subscribe-form">
            <input type="text" class="rosa-subscribe-input" placeholder="ADRESSE E-MAIL">
            <button class="rosa-subscribe-submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24.771" height="19.465" viewBox="0 0 24.771 19.465">
                  <g id="Groupe_91" data-name="Groupe 91" transform="translate(0 0.373)">
                    <line id="Ligne_4" data-name="Ligne 4" x2="24.438" transform="translate(0 9.36)" fill="none" stroke="#fff" stroke-width="1"/>
                    <line id="Ligne_5" data-name="Ligne 5" x2="10.462" y2="9.36" transform="translate(13.975)" fill="none" stroke="#fff" stroke-width="1"/>
                    <line id="Ligne_6" data-name="Ligne 6" x1="10.462" y2="9.36" transform="translate(13.975 9.36)" fill="none" stroke="#fff" stroke-width="1"/>
                  </g>
                </svg>
            </button>
            <div class="rosa-subscribe-form-checkbox-wrapper">
                <label class="rosa-subscribe-form-checkbox-label">
                    <input type="checkbox" class="rosa-subscribe-form-checkbox-input">
                    <div class="rosa-subscribe-form-checkbox-mark"></div>
                </label>
                <span class="rosa-subscribe-form-checkbox-text">En cochant cette case, vous acceptez notre politique de confidentialité.</span>
            </div>
        </form>
    </div>
</section>

{% schema %}
{
  "name": "rosa subscribe",
  "presets": [
    {
      "name": "rosa subscribe",
      "category": "Custom"
    }
  ]
}
{% endschema %}
