<section class="rosa-faq container">
  <div class="rosa-faq-title">{{ section.settings.title }}</div>
  <div class="rosa-faq-content">
    {%- for block in section.blocks -%}
      <div class="rosa-faq-item">
        <div class="rosa-faq-item-header">
          <div class="rosa-faq-item-header-title">{{ block.settings.title }}</div>
          <svg class="plus" xmlns="http://www.w3.org/2000/svg" width="13" height="28" viewBox="0 0 13 28">
            <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">+</tspan></text>
          </svg>
          <svg class="minus" xmlns="http://www.w3.org/2000/svg" width="7" height="28" viewBox="0 0 7 28">
            <text id="Typography" transform="translate(0 22)" font-size="21" font-family="NotoSans-Bold, Noto Sans" font-weight="700"><tspan x="0" y="0">-</tspan></text>
          </svg>
        </div>
        <div class="rosa-faq-item-header-text">{{ block.settings.text }}</div>
      </div>
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "rosa faq",
  "presets": [
    {
      "name": "rosa faq",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "title"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "faq item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "text",
          "default": "text",
          "label": "text"
        }
      ]
    }
  ]
}

{% endschema %}

