.rosa-blogs-page-title {
  display:none!important;
}

.facets__header, .facets__price, .field {
  font-family: Montserrat !important;
  letter-spacing: 0!important;
}

.reset__button {
right: 0 !important;
}

.field__input {
  font-size: 16px!important;
  font-family: Montserrat !important;
}

.template-search__header .h2.center {
  text-transform: uppercase;
}

.rosa-quote5-text2 {
  padding-top: 10px;
}

.page-title {
text-align: center !important;
padding-top: 90px !important;
text-transform: uppercase !important;
}

}
.rosa-blogs-header-subtitle {
font: 500 16px/20px Montserrat !important;
padding-bottom: 10px !important;
}

.rosa-header2-subtitle {
font: 500 16px/20px Montserrat !important;
padding-bottom: 10px !important;
}

.rosa-blogs-header-subtitle {
font: 500 16px/20px Montserrat !important;
padding-bottom: 10px !important;
}

.rosa-collection-slider2-info-text1 {
font: 500 16px/20px Montserrat !important;
padding-bottom: 10px !important
}

.rosa-double-info-list-item-pic {
height: 20px !important;
}


@media screen and (max-width: 480px) {

.template-search__header .h2.center, .main-page-title.page-title, .rosa-cart-title {
  font: 34px/40px Cormorant !important;
}

.rosa-cart-item-info-title {
font: 14px/18px Montserrat !important;
}

  .rosa-cart-item-info-description {
font: 12px/16px Montserrat !important;
  }

.cart__contents {
  border-top: solid 1px;
}

  .rosa-cart-title {
margin: 0 auto 45px !important;
  }
  
.collecton-list-item-title {
  font: 14px/16px Montserrat !important;
}
.rosa-collection-slider-item-title {
  font: 14px/16px Montserrat !important;
}
.rosa-collections-item-title {
  font: 14px/16px Montserrat !important;
}

.rosa-double-info-inner {
  max-width: 100% !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.rosa-collection-slider2-info {
  max-width: 100% !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.collection.page-width {
  padding: 0!important;
}

.mobile-facets__label {
  padding: 1.5rem 2rem 0rem 2.5rem !important;
}

.mobile-facets__inner {
  width: 100%!important;
}

.no-js-hidden.button.button--primary {
  font-size: 1rem!important;
}
  
}